body {
    min-width: 320px;
}
.container-section {
    max-width: 1200px;
    margin: 0 auto;
    // padding: 0 15px;
}
.header {
    background-image: url("../img/header/img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 0 10px;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
        // padding: 0 90px;
        @media screen and (min-width:481px) and (max-width:992px) {
            background-color: #27262A;
            flex-wrap: wrap;
            flex-grow: inherit;
            padding: 22px 20px 0;
        }
        @media screen and (max-width:480px) {
            background-color: #27262A;
            padding: 32px 15px 30px;
        }
    }
    .logo__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        &:hover .image, &:focus .image {
           display: none;
        }
        &:hover .image__hover, &:focus .image__hover,
        &:hover .logo__name, &:focus .logo__name {
            display:inline;
            color: #FFFFFF;
         }
    }
    .image {
        width: 100%;
    }
    .image__hover {
        display: none;
    }
    .logo__name {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 0.66;
        text-transform: uppercase;
        margin: 0; /*откуда берется марджин?*/
        text-decoration: none;
        color: #8D81AC;
        @media screen and (max-width:480px) {
            display: none;
        }
    }
    &__burger {
        display: none;   
        @media screen and (max-width:480px) {
            display: block;
            width: 26px;
            height: 21px;
            position: relative;
            &::before {
                content: "";
                position: absolute; 
                background-color: #ffffff;
                border-radius: 5px;
                width: 16px;
                height: 3px;
                right: 0;
                top: 0;
                transition: all 0.3s ease 0s;
            }
            span {
                position: absolute;
                border-radius: 5px;
                right: 0;
                width: 26px;
                height: 3px;
                top: 9px;
                background-color: #ffffff;
                transition: all 0.3s ease 0s;
            }
            &::after {
                content: "";
                position: absolute; 
                background-color: #ffffff;
                border-radius: 5px;
                width: 26px;
                height: 3px;
                top: 18px;
                right: 0;
                transition: all 0.3s ease 0s;
            }
        }
        &.active {
            &::before {
               transform: scale(0);
            }
            &::after{
                transform: rotate(-45deg);
                top: 9px;
            }
            span {
                transform: rotate(45deg);
                top: 9px;
            }
        }    
    }
    
    &__menu {
        // display: none;
        margin-left: auto;
        padding: 42px 0;
        @media screen and (min-width:481px) and (max-width:992px) {
            padding: 24px 20px 18px;
            order: 3;
            margin: 0 auto;
            width: 100%;
         }
        @media screen and (max-width:480px) {
            background-color: #333;
            padding: 0;
            z-index: 3;
            // width: 100%;
        }
        .header__list {
            margin-bottom: 0; /*откуда он взялся?*/
            @media screen and (min-width:481px) and (max-width:992px) {
                justify-content: center;
            }
            @media screen and (max-width:480px) {
                display: none;
                position: absolute;
                background-color: #333;
                // top: -100%;
                left: 0;
                right: 0;
                // min-width: 292px;
                // width: 100vw; 
                margin: 0 14px;
                //padding-bottom: 14px; и убираем этот падинг
            }
            &.active{
                @media screen and (max-width:480px) {
                display: block;
                top: 120px;
                position: absolute;
                overflow: hidden;
                }
            }
        }
        .header__item {
            @media screen and (max-width:480px) {
               border-bottom: 1px solid rgb(75, 75, 75);
               position: relative;
                height: 88px;  
            }
        }
        .header__link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1;
            color: #8D81AC;
            display: flex;
            align-items: center;
            text-decoration: none;
            margin: 0 24px;
            &:focus, &:hover {
                color: #FFFFFF;
            }
            @media screen and (max-width:480px) {
                margin: 0;
                margin-left: 34px;
                width: 100%;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 1;
                color: #FFFFFF;
                &:hover, &:focus {
                    color: #8D81AC;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 8px;
                        height: 52px;
                        background-color: #8D81AC;
                        top: 12px;
                        left: 3px;
                    }
                }
            }
        }
    }
    &__button {
        margin-left: 24px;
        .button {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1;
            color: #FFFFFF;
            background-color: #8D81AC;
            padding: 10px 20px;
            border-radius: 40px;
            box-sizing: border-box;
            border: 1px solid #8D81AC;
            cursor: pointer;
            &:hover, &:focus {
                color: #8D81AC;
                background-color: #FFFFFF;
            }
        }
        @media screen and (max-width:480px) {
          margin-right: auto;
          margin-left: 0;
          padding: 10px 10px;
        }
    }
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .content__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 82px;
            line-height: 1;
            color: #FFFFFF;
            padding: 82px 0 20px;
            @media screen and (min-width:481px) and (max-width:992px) {
                font-size: 72px;
            }
            @media screen and (max-width:480px) {
                font-size: 48px;
            }
        }
        .content__desc {
            text-align: center;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 1;
            color: #8D81AC;
            padding-bottom: 20px;
            margin: 0;
            @media screen and (min-width:481px) and (max-width:992px) {
                font-size: 24px;
            }
            @media screen and (max-width:480px) {
                font-size: 18px;
            }
        }
        .content__version {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1;
            text-transform: uppercase;
            color: #848E97;
            padding-bottom: 460px;
            margin: 0;
            @media screen and (min-width:481px) and (max-width:992px) {
                font-size: 14px;
            }
            @media screen and (max-width:480px) {
                font-size: 14px;
            }
        }
        .content__button {
            position: absolute;
            top: 95%;
            // left: 36%;
            text-align: center;
            .button {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 21px;
                line-height: 1.05;
                color: #FFFFFF;
                padding: 22px 60px;
                background-color: #8D81AC;
                border-radius: 40px;
                box-sizing: border-box;
                border: 1px solid #8D81AC;
                margin-bottom: 20px;
                cursor: pointer;
                &:hover, &:focus {
                    color: #8D81AC;
                    background-color: #FFFFFF;
                }
                @media screen and (max-width:480px) {
                    font-size: 18px;
                    padding: 14px 28px;
                }
            }
            .button__desc {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.06;
                color: #848E97;
                text-align: center;
            }
        }
    }
}

