<section class="section-about">
    <div class="container-section">
        <div class="section-wrapper">
            <div class="title">
                People Are Talking About Fork
            </div>
            <div class="content__wrapper">
                <div class="item">
                    <div class="image__wrapper">
                         <img class="image" src="../assets/img/about/logo1.png" alt="Smashing Magazine">
                    </div>
                    <p class="item__desc">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
                </div>
                <div class="item">
                    <div class="image__wrapper">
                        <img class="image" src="../assets/img/about/logo2.png" alt="codrops">
                    </div>
                    <p class="item__desc">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
                </div>
                <div class="item">
                    <div class="image__wrapper">
                        <img class="image" src="../assets/img/about/logo3.png" alt="W"> 
                    </div>
                    <p class="item__desc">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
                </div>
                <div class="item">
                    <div class="image__wrapper">
                        <img class="image" src="../assets/img/about/logo4.png" alt="pixel Buddha">
                    </div>
                    <p class="item__desc">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
                </div>
                <div class="item">
                    <div class="image__wrapper">
                        <img class="image" src="../assets/img/about/logo5.png" alt="Creative Blog">
                    </div>
                    <p class="item__desc">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus.</p>
                </div>
                <div class="item">
                    <div class="image__wrapper">
                        <img class="image" src="../assets/img/about/logo6.png" alt="TNW">
                    </div>
                    <p class="item__desc">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
                </div>
            </div>
            <div class="section__footer">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
        </div> 
    </div>
</section>