<header class="header">
    <div class="container-section">
        <div class="header__body">
            <a class="logo__link" href="#">
                <img class="image" src="../assets/img/header/Logo 1.png" alt="FORCIO">
                <img class="image__hover" src="../assets/img/header/logo-hover.png" alt="FORCIO">
                <p class="logo__name">ForkIO</p>
            </a>
            <nav class="header__menu">
                <ul class="header__list">
                    <li class="header__item"><a href="#" class="header__link">Overview</a></li>
                    <li class="header__item"><a href="#" class="header__link">About Fork</a></li>
                    <li class="header__item"><a href="#" class="header__link">Buying Options</a></li>
                    <li class="header__item"><a href="#" class="header__link">Support</a></li>
                </ul>
            </nav>
            <div class="header__button">
                <button class="button">Buy Now</button>
            </div>
            <div class="header__burger">
                <span></span>
            </div>
        </div>
        <div class="header__content">
            <div class="content__title">Fork App</div>
            <p class="content__desc">A real gamechanger in the world of web development</p>
            <p class="content__version">v. 2.8 For Mac and Windows</p>
            <div class="content__button">
                <button class="button">Download For Free Now</button> 
                <p class="button__desc">Unlimited 30-Days Trial Period</p>
            </div>
        </div>
    </div>
</header>