<section class="here">
    <div class="about">
        <div class="section-left">
            <div class="sec-item">
                <div class="img-left">
                <img src="../assets/img/here/icon1.png" alt="ion">
                </div>
                <div class="text-left">
                    <p class="text_air">Creatred to Make The Web Better</p>
                    <p class="text-par">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
                </div>
            </div>
            <div class="sec-item">
                 <div class="img-left">
                <img src="../assets/img/here/icon2.png" alt="ion">
                      </div>
                <div class="text-left">
                    <p class="text_air">Incredibly Powerful Tool</p>
                    <p class="text-par">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="sec-item">
                 <div class="img-left">
                <img src="../assets/img/here/icon3.png" alt="ion">
                      </div>
                <div class="text-left">
                    <p class="text_air">Experimental Stuff</p>
                    <p class="text-par">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="sec-item">
                 <div class="img-left">
                <img src="../assets/img/here/icon4.png" alt="ion">
                      </div>
                <div class="text-left">
                    <p class="text_air">Creatred to Make The Web Better</p>
                    <p class="text-par">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                </div>
            </div>
        </div>
        <div class="section-right">
            <p class="text_rig"> &lsaquo; Here is what you get &rsaquo; </p>
            <img class="img-prog" src="../assets/img/here/editor.png" alt="program">
        </div>
    </div>
</section>
